<%= form_with(model: @purchase, local: true) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">   
      <ul>
        <% purchase.errors.full_messages.each do |message| %>
        <script>
          $.notify("<%= message %>", "error");
        </script>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1> <%= "#{Purchase.model_name.human(count: 2)}"%></h1>

      <br />
      <br />      

  <div class="row">
    <div class="col-auto" >

      <table class="table table-striped table-hover">
        <thead>
          
          <div class="form-group row">
            <div class="col-md-4 mb-3">
              <%= form.collection_select(:customer_id, @customer_options_for_select, :id, :nome) %>
          </div> 
        </div> 

          <tr>
            <th>Ref.</th>
            <th>Produto</th>
            <th>Qntd</th>
            <th>Valor</th>
          </tr>
        </thead>

        <tbody>
          <tr>
           <td> <%= form.collection_select(:product_id, @product_options_for_select, :id, :referencia) %> </td>
          
          <td><%= form.text_field :product, class: "form-control", placeholder: "* Produto ", "aria-describedby": true, required: true, disabled: true %></td>

          <div id= "items">
          
             <%= form.fields_for :quantidade do |items_fields| %>
              <%= render partial: "item_fields", locals: { form: items_fields } %>
              <% end %> 
               
            
           
          </div>
     
           <td></td>

          </tr>

        </tbody>
      </table>
    </div>

    <div>
      <table class="venda container-fluid">
        <thead>
          <th  scope="col" >Resumo do Pedido</th>  
        </thead>
        <tbody>
          <tr>
            <td> Subtotal: </td>
            <td>"item.efetivado"</td>
          </tr>
           
          <tr>
           <td>Total: </td> 
           <td><%= number_to_currency(purchase.total_compra) %></td>
          </tr>
           
          <tr>
            <td>Forma de Pagamento: </td>
            <td><%= form.select :tipo_pagamento, pagamento_options_for_size(@purchase.tipo_pagamento),  class: "form-control", placeholder: " Forma de Pagamento" %></td>
         
         </tr>

            <br />
            <br />

          <tr>
            <div class="float-right">  
              <td>
                <br />
                <td>
                  <%= form.submit "Enviar", class: "btn btn-primary div float-right" %> 
                </td>
              </td>
            </div>
          </tr>    

        </tbody>        
      </table>
    </div>  
  </div>

<% end %>

