<script>
  $.notify("<%= notice %>", "success");
</script>

<div class="row">
  <div class="col-sm-9">
    <h1><%= "#{Product.model_name.human(count: 2)}" %></h1>
    <div class="row">
      <div class="text-right">
        <%= form_tag(products_path, method: :get) do |form|%>
          <%= text_field_tag 'searchProduct', nil, placeholder: 'Procure um Produto...', class: "text-margin" %>
          <%= submit_tag t('buttons.search'), class: "btn btn-info bt-margin-submit btn-sm", type: "submit" %>
          <%= link_to t('buttons.new'), new_product_path, class: "btn btn-primary bt-margin" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
 <br />
 <br />      

<div class="row">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead>
       <tr>
          <th>Referência</th>
          <th>Descrição</th>
          <th>Cor</th>
          <th colspan="3"></th>
       </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.referencia %></td>
            <td><%= product.descricao %></td>
            <td><%= product.cor %></td>
            <td><%= link_to t('buttons.show'), product, class: "btn btn-info" %></td>
            <td><%= link_to t('buttons.edit'), edit_product_path(product), class: "btn btn-warning" %></td>
            
            <% if can? :destroy, Product %>  
              <td><%= link_to t('buttons.destroy'), product, method: :delete, data: { confirm: t('messages.confirm') }, class: "btn btn-danger" %></td>
            
            <% end %>
          
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
 
<%= will_paginate @products %>

 
